@model IEnumerable<ProWeb.Models.HANGSANXUAT>
@{
    ViewBag.Title = "Hangsanpham";
    Layout = "~/Views/Shared/_index.cshtml";
}


<div id="content" class="col-lg-10 col-sm-10" style="margin-left:8%">
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-gift"></i> Danh sách thương hiệu sản phẩm</h2>
                    <div>
                        <a href="@Url.Action("Themhang","AdminSite")" style="float:right;padding-bottom:3px" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus-sign"></i> Thêm thương hiệu</a>
                    </div>
                </div>
                <div class="box-content">

                    @*<div class="alert alert-info">For help with such table please check <a href="http://datatables.net/" target="_blank">http://datatables.net/</a></div>*@
                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                        <thead>
                            <tr>
                                <th>Mã thương hiệu</th>
                                <th>Tên thương hiệu</th>
                                <th style="width:15%;text-align:center">Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var item in Model)
                            {
                            <tr>
                                <td>@item.MAHANG</td>
                                <td>@item.TENHANG</td>
                                <td class="center">
                                    <a class="btn btn-info" title="Cập nhật hãng " href="@Url.Action("Capnhathang", "AdminSite", new { id = @item.MAHANG })" style="padding:4px 12px 4px 12px;margin-left:22%">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        @*Cập nhật*@
                                    </a>
                                    <a class="btn btn-danger" title="Xóa hãng" href="#" style="padding:4px 12px 4px 12px">
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                        @*Xóa*@
                                    </a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                    <ul class="pagination pagination-centered" style="float:right">
                        <li><a href="#">Prev</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
</div>



